@font-face {
    font-family: 'proxima-nova';
    src: url('./fonts/Fontspring-DEMO-proximanova-regular.otf');
}

@font-face {
    font-family: 'proxima-nova-bold';
    src: url('./fonts/Fontspring-DEMO-proximanova-bold.otf');
}

.bigTitle {
    display: flex;
    font-family: 'proxima-nova-bold', sans-serif;
    flex: 5;
    align-items: end;
    font-size: 3rem;
}

.tabs {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem 15rem;
    align-items: end;
}

.headerLink {
    font-family: 'proxima-nova';
}

.headerLink:hover {
    cursor: pointer;
}

.bodyContainer {
    font-family: 'proxima-nova';
    margin: 2rem 15rem;
}